html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ----------- */
/* header */
.header {
  height: 958px;
  border-bottom: 1px solid #707070;
  background-image: url(../img/background.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center; }

.titel {
  display: block;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header p {
  font-size: 24px; }

.header h1 {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 32px; }

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px; }

.header a {
  margin-right: 16px; }

/* About */
/* .about{
    text-align: center;
    justify-content: center;
    align-items: center;
} */
.about {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 56px; }

.about img {
  margin-top: 40px;
  margin-bottom: 16px; }

.about p {
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 44px; }

.about ul {
  list-style-type: disc; }

.about li {
  margin-top: 28px; }

.about ul li::before {
  content: '';
  background-color: #891818;
  width: 22px;
  height: 22px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 16px; }

.about hr {
  max-width: 384px; }

/* brand */
.brand {
  background-color: #000000;
  border: 1px solid #707070;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding-bottom: 160px; }

.brand h2 {
  margin-top: 56px; }

.brand h3 {
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 24px; }

.brand p {
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 28px;
  line-height: 30px; }

.brand img {
  margin-top: 40px; }

.brand ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 24px; }

/* other works */
.works {
  font-weight: bold;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 144px;
  padding-right: 360px;
  padding-left: 360px; }

.works h2 {
  margin-bottom: 16px; }

.works p {
  line-height: 30px;
  font-size: 20px;
  margin-top: 16px; }

.works ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.works li {
  margin-left: 12px;
  margin-right: 12px; }

.works img {
  margin-top: 48px; }

/* contact */
.contact {
  background-color: #000000;
  text-align: center;
  color: #fff;
  padding: 64px; }

.contact a {
  font-size: 24px;
  margin-top: 16px;
  display: block;
  text-decoration: none;
  color: white; }

/* for all */
body {
  font-style: italic;
  font-family: 'Roboto', sans-serif; }

h2 {
  font-size: 64px;
  height: 84px; }

/*# sourceMappingURL=all.css.map */
